.grid {
    max-width: 1400px;
    padding-left: 4em;
    padding-right: 4em;
    margin-left: auto;
    margin-right: auto;
}
.avatar {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    box-shadow: 0px 3px 8px rgba(62, 71, 76, 0.15);
}
#logo-back{
    margin-left: 35%;
    margin-bottom: 5%;
    padding: 4px 4px;
    background: #CCFFE6;
    opacity: 0.75;
    height:3%;
    width:30%;
}
#logo img{
    
    max-width: 100%;
    max-height: 100%;
}
#proposition-value-back {
    padding: 12px 24px;
    border: 1px solid #068740;
    border-radius: 8px;
    background-color: rgba(170, 75, 255, 0.7);
}

#first-button{
     position:relative;
     top:50%;
     left:25%;
}
.first-part {
   background-image: url(../images/landing2.jpg);    
   background-position: center bottom; /*Positioning*/
   background-repeat: no-repeat; /*Prevent showing multiple background images*/
   background-size: cover;
   opacity:1;
   top: 0;
   height: 100%
    }

.third-part {
   background-image: url(../images/disco_soupe1.jpg);    
   background-position: center bottom; /*Positioning*/
   background-repeat: no-repeat; /*Prevent showing multiple background images*/
   background-size: cover;
   opacity:1;
   top: 0;
   height: 700px
    }
.fifth-part {
   background-image: url(../images/tambouille.jpg);    
   background-position: center top; /*Positioning*/
   background-repeat: no-repeat; /*Prevent showing multiple background images*/
   background-size: cover;
   opacity:1;
   top: 0;
   height: 700px
    }

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #068740;
    border-radius: 8px;
    background: #09e66c;
    background: -webkit-gradient(linear, left top, left bottom, from(#09e66c), to(#04b252));
    background: -moz-linear-gradient(top, #09e66c, #04b252);
    background: linear-gradient(to bottom, #09e66c, #04b252);
    text-shadow: #045528 1px 1px 1px;
    font: italic normal normal 28px trebuchet ms;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid #07a950;
    background: #0bff82;
    background: -webkit-gradient(linear, left top, left bottom, from(#0bff82), to(#05d662));
    background: -moz-linear-gradient(top, #0bff82, #05d662);
    background: linear-gradient(to bottom, #0bff82, #05d662);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #058a41;
    background: -webkit-gradient(linear, left top, left bottom, from(#058a41), to(#04b252));
    background: -moz-linear-gradient(top, #058a41, #04b252);
    background: linear-gradient(to bottom, #058a41, #04b252);
}
.button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAB/ElEQVRIiaWVvYvUUBTFf+cRxEJULAaLzXxkQay3ES0UhO2tFBERO7u1tBUL7aws/Av0D9gFi7FXXP8BWZ/zMhayWC2yyLLkWsxHPiaZzOCBkJt7z7vn5iR5UdLrgXEb2AFuAJeEHGvCYOjT0XY1H2E8QbyRyaGcjaZnCnFbvQYOeC4KzQsjlXJt9QZEkjqFNZkZ24hfjY2ruTw+rhUwA+WkDPHtRxj9bJ9tNZStafCxCUnc3Uji/tWlAiUHVvC0RDfrID4ncf/uIB7UC5SmNta6C5MQnEe8k+x1stE/W+VE88bzscqEQbfbkXSnXoHedIkDnppjK4n7D/w4f4ZRmy2CROhtU7FyedPgSxL3H4Ib+rFfzyKz6TGjVfg2iS8j9lD2LIkHrtWiYl2V68Y6nDF4iexaq0WNoq2wY4y9yBbVF6nWvvWUc+aBez4N+5HapzsFO6o+qimcpHNlEdsFHvsQfsPsNV0Cn6b7wIW62mbc3UL6OhG1E+AF8MqHcDrjrGTRMkzW2yHikQ/hQ7W+ikXNzQFkn4D7PoRRHafVomUQHBjc8iGcNHH+y6Lv4/SojROBodwnpyy7srnRvbiumIk/fpyOagTwQALTTcu5j+s2nygwBBZ++g7YMeMvlu81xbguV1tvgMucdsGuG/Ye7FBMPltVDhriea4B/wBcgMurnFA7aAAAAABJRU5ErkJggg==") no-repeat left center transparent;
    background-size: 100% 100%;
}
body{
font: "Lucida Grande", "Trebuchet MS", Verdana 0.9em;
background : #fff8e1;
width: 100%;
margin: 0;
padding: 0;
} 
.temoignage{
    margin-top: 20px;
    margin-bottom: 40px;
}
.temoignage-title{
    margin-top: 50px;
    margin-bottom: 100px;
}

#block h3{background:url(../images/h3.png) no-repeat center;color:#dd3c04;font-size:13px;font-weight:normal;text-align:center;text-transform:uppercase;margin-bottom:17px;}
#block .photo{padding-right:0px;position:relative;float:right;border-radius: 60px;    box-shadow: 0px 3px 8px rgba(62, 71, 76, 0.15);}
#block .photo img{max-width:115px;max-height:115px;overflow:hidden;position:relative;}
#block .photo img.photo-bg{z-index:1;}
#block .photo img.photo{left:0;}
#block p.content{font-style:italic;line-height:24px;padding-left:19px;margin-bottom:0px;position:relative;overflow:hidden;}
#block p.content span {text-indent;}
#block p.content span.laquo{background:url(../images/laquo.png) no-repeat;width:14px;height:11px;position:absolute;left:0;top:4px;display:block;}
#block p.content span.raquo{background:url(../images/raquo.png) no-repeat right 4px;width:13px;height:15px;padding-left:4px;display:inline-block;}
#block .sign{text-align:right;float:right;}
#block .sign a{color:#577302;font-family:Arial,sans-serif;font-size:13px;text-decoration:none;}
#block .sign a:hover{text-decoration:underline;}
#block .sign p{color:#5a5a5a;font-size:12px;line-height:15px;margin-top:0px;}
